<!--Thumb Tray button-->
<a id="tray-button"><img id="tray-arrow" src="/web/img/button-tray-up.png"/></a>

<!--Slide counter-->
<div id="slidecounter">
    <span class="slidenumber"></span> / <span class="totalslides"></span>
</div>


<div id="slide-list-block">
    <a id="play-button"><img id="pauseplay" src="/web/img/pause.png"/></a>

    <!--Arrow Navigation-->
    <a id="prevslide" class="load-item">
        <div id="slidename-prev"></div>
    </a>

    <!--Slide captions displayed here-->
    <div id="slidename"></div>

    <!--Navigation-->
    {#<ul id="slide-list"></ul>#}

    <a id="nextslide" class="load-item">
        <div id="slidename-next"></div>
    </a>
</div>