{% extends 'AcmeDesignBundle::layout.html.twig' %}

{% block supersized %}
<script type="text/javascript">
    jQuery(function($){
        $.supersized({

            // Functionality
            autoplay                :   0,
            slide_interval          :   5000,		// Length between transitions
            transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
            transition_speed		:	1000,		// Speed of transition

            // Components
            slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
            slides 					:  	[			// Slideshow Images
                {	image : '/web/img/foto/fons/pro_nas.jpg',
                    name  : 'About Us',
                    title : 'About Us',
                    thumb : '/web/img/foto/fons/pro_nas.jpg'
//                    url : 'http://www.nonsensesociety.com/2011/04/maria-kazvan/'
                }
            ]

        });
    });
</script>
{% endblock %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div id="white_content">

        <p>Лабораторія дизайну – ми група креативних дизайнерів, які об’єдналися з єдиною метою – перетворення мрій наших клієнтів в реальність.  Ми візуалізуємо ваші думки та дизайнерські фантазії, додаючи до них наш досвід та бачення. Наші креативні майстри компілюють сучасні тенденції з вашими побажаннями, створюючи унікальну формулу дизайну, що підходить саме для вас.  Працюючи над кожним проектом, ми винаходимо цілісний неповторний стиль, який органічно гармоніює з вами та з вашим світоглядом. Завжди готові до експериментів, ми знаходимо оптимальне рішення для реалізації ваших задумів.</p>

        <p>Борис:<br> «Головне завдання хорошого дизайнера інтер’єру – зрозуміти та пізнати побажання замовника. Потрібно бути з клієнтом на одній хвилі, требі відчувати його настрій, розуміти його потреби і проектувати дизайн для нього і під нього.  Процес знайомства з замовниками для мене є найцікавішим: це так ніби заводиш нових друзів – знайомишся з їх звичками та уподобаннями, поступово налагоджуєш контакт. Коли виникає розуміння, робота робиться легко, а результат виходить максимально позитивним. Що найцікавіше, часто після завершення проекту наші клієнти стають нашими друзями. Такі моменти у своїй роботі я люблю найбільше».</p>

        <p>Юлія: <br>«Саме грамотний та якісний дизайн приміщення, на мою думку, є втіленням індивідуальності господаря, його візитною карткою. Він розповідає про особистість, про смаки та захоплення, демонструє спосіб життя, притаманний саме цій конкретній людині у цьому конкретному середовищі. Клієнт самостійно обирає стиль, задає тон та настрій інтер’єру, він описує свої думки, натякає на свої сподівання, а ми збираємо всю цю інформацію і матеріалізуємо її у реальний «живий» проект. При цьому не забуваємо про практичну та функціональну сторону, виконуючи обов’язкові вимоги інтер’єру».</p>

        <p>Роман:<br> «У моєму розумінні дизайн – це оптимальне вирішення поставлених замовником завдань. Мені подобається саме технічний процес розробки проекту, подобається моделювати ідеальну реальність, застосовуючи сучасні технології та новаторські підходи.  Переконаний, що дизайнер інтер’єру не має бути художником, він має бути візуалізатором – реалізовувати мрії людей, створюючи зручний, продуманий до найменших дрібниць інтер’єр. Унікальне відчуття, коли перетворюєш в реальність чужу фантазію і проектуєш цей інтер’єр таким, яким замовник малював його тільки в своїй уяві. В такі хвилини почуваєш себе чарівником».</p>


    </div>
{% endblock %}


{% block description %}{% endblock %}
{% block controls %}{% endblock %}
